
<div class="site-blocks-cover" style="background-image: url('../../Asset/images/hero_1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
                <div class="site-block-cover-content text-center">
                    <h1>Về Chúng Tôi</h1>
                    <h2 class="sub-title">Để tạo dựng được thương hiệu Pharma chúng tôi đã nỗ lực xây dựng, phát triển đểm nhận được sự quan tâm từ khách hàng qua đó nhận được niềm tin của khách khi đã thông qua sử dụng sản phẩm.</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section bg-light custom-border-bottom" data-aos="fade">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="block-16">
                    <figure>
                        <img src="images/bg_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                        <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo">
                            <span class="icon-play"></span>
                        </a>

                    </figure>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">


                <div class="site-section-heading pt-3 mb-4">
                    <h2 class="text-black">Cách Chúng Tôi Bắt đầu</h2>
                </div>
                <p>
                    Thành lập năm 2015 từ những máy móc thô sơ và đơn giản chúng tôi đã từ đó và có những bước thay đổi để dần trở thành một trong những nhà phân phối lớn nhất nước.
                    Được sự ủng hộ của nhà nước cũng như sự tin tưởng của khách hàng thì chúng tôi đã ngày càng có niềm tin để phất triển.
                </p>
                <p>
                    Qua đó có nền móng vững chắc để tạo tiền xây dựng nên cơ chế hiện tại, việc được tiếp xúc bởi nhiều chuyên gia trong lĩnh vực thì chúng tôi cũng được hỗ trợ và đóng góp ý kiến từ mọi người.
                </p>

            </div>
        </div>
    </div>
</div>



<div class="site-section bg-light custom-border-bottom" data-aos="fade">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 order-md-2">
                <div class="block-16">
                    <figure>
                        <img src="images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                        <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo">
                            <span class="icon-play"></span>
                        </a>

                    </figure>
                </div>
            </div>
            <div class="col-md-5 mr-auto">


                <div class="site-section-heading pt-3 mb-4">
                    <h2 class="text-black">Chúng Tôi Là Một Công Ty Đáng Tin Cậy</h2>
                </div>
                <p class="text-black">
                    Để đạt được sự tin cậy từ khách hàng chúng tôi đã nỗ lực từng bước như thay đổi chiến lược ban hàng nhằm tiếp cận với khách hàng để giới thiệu sản phẩm mọi lúc mọi nơi,
                    nên chúng tôi đã tạo ra website Pharma này để mọi người có thể trực tiếp xem sản phẩm qua website từ để lại thông tin để được tư vấn một các cụ thể và chi tiết nhất.
                </p>
                <p class="text-black">
                    Cách làm đó đạt hiệu quả rất cao qua đó giúp chúng tôi đạt được mục đích của mình là chiếm lấy sự tin tưởng từ khách hàng qua đó
                    giới thiệu sản phẩm bằng cách trực tuyến hoặc qua phone.
                </p>

            </div>
        </div>
    </div>
</div>

<div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-truck text-primary"></span>
                </div>
                <div class="text">
                    <h2>Miễn Phí Giao Hàng</h2>
                    <p>
                        Để khách hàng có được trải nghiệm tuyệt với nhất khi truy cập vào website Pharma thì chúng
                        tôi với quan điểm "Mua sắm thả ga không lo phí vận chuyển".
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-refresh2 text-primary"></span>
                </div>
                <div class="text">
                    <h2>Miễn Phí Trả Hàng</h2>
                    <p>
                        Để có thể trải nghiệm dịch vụ một cách tốt nhất chúng tôi đề cao sự hài lòng của khách hàng
                        về sản phẩm không ưng í có thể đổi trả hàng khi giá trị sản phẩm còn mới 98%.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-help text-primary"></span>
                </div>
                <div class="text">
                    <h2>Hỗ Trợ Khách Hàng</h2>
                    <p>
                        Đối với việc hỗ trợ khách hàng chúng tôi có để mục chat trực tuyến hoặc có thể để lại số phone
                        qua đó chúng tôi đã có đội ngũ chuyên nghiệp để sẵn hàng tư vấn.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="site-section bg-light custom-border-bottom" data-aos="fade">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>Thành Viên</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 mb-5">

                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="images/person_1.jpg" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Đặng Trung Hậu</h3>
                        </div>
                        <div class="block-38-body">
                            <p>
                                Nhóm trưởng người phân chia công việc cho cả nhóm theo từng giai đoạn và phân bố thời gian hợp lí để hoàn thành các mục tiêu đề ra.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 mb-5">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="images/person_2.jpg" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Doãn Văn Dũng</h3>
                        </div>
                        <div class="block-38-body">
                            <p>
                                Là thành viên trong nhóm luôn có những ý kiên đóng góp nhằm phát triển vài cải tạo để hoàn thiện bài một cách chặt chẽ.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 mb-5">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="images/person_3.jpg" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Hoàng Xuân Huy</h3>
                        </div>
                        <div class="block-38-body">
                            <p>
                                Là thành viên trong nhóm luôn có những ý kiên đóng góp nhằm phát triển vài cải tạo để hoàn thiện bài một cách chặt chẽ.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 mb-5">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="images/person_4.jpg" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Đỗ Hải Tuân</h3>
                        </div>
                        <div class="block-38-body">
                            <p>
                                Là thành viên trong nhóm luôn có những ý kiên đóng góp nhằm phát triển vài cải tạo để hoàn thiện bài một cách chặt chẽ.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 mb-5">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="images/person_4.jpg" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Nguyễn Văn Quang</h3>
                        </div>
                        <div class="block-38-body">
                            <p>
                                Là thành viên trong nhóm luôn có những ý kiên đóng góp nhằm phát triển vài cải tạo để hoàn thiện bài một cách chặt chẽ.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

